.footer
  %nav.navbar.navbar-default
    .container
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"}= t('homepage.help')
        %li
          %a{:href => "#"}= t('homepage.about')
        %li
          %a{:href => "#"}= t('homepage.partner')
        %li
          %a{:href => "#"}= t('homepage.terms_and_privacy')