.footer
  %nav.navbar.navbar-default
    .container
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Help
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} Partner
        %li
          %a{:href => "#"} Terms and Privacy