.page-head1
  .text-center{:style => "text-align:left; padding:15px 0px; font-size:26px; width:100%;"}
    .topsearch
      %input.form-control{:placeholder => "Search...", :style => " border-radius:10px;", :type => "text"}/
    %span{:style => "float:right;"}
      %a.btn.btn-success.btn-md{:href => "http://website-design-company.in/des6/eegg/addnewbook.html", :style => "width:180px;"} Add New Book
.block-flat{:style => "float:left;"}
  .content{:style => "float:left; width:100%;"}
    .table-responsive
      %table#datatable.table.table-bordered
        %thead
          %tr
            %th
              %strong Title
            %th
              %strong Author
            %th
              %strong Category
            %th
              %strong Type
            %th
              %strong Date Added
        %tbody
          %tr.odd.gradeX
            %td Thinking First and Slow Sypnosis
            %td Daniel Kahneman
            %td Psychology
            %td.center Book
            %td 3/26/2015
          %tr.even.gradeC
            %td Thinking First and Slow Sypnosis 12
            %td Daniel Kahneman
            %td Psychology
            %td.center Book
            %td 3/26/2015
          %tr.odd.gradeX
            %td Thinking First and Slow Sypnosis
            %td Daniel Kahneman
            %td Psychology
            %td.center Book
            %td 3/26/2015
          %tr.even.gradeC
            %td Thinking First and Slow Sypnosis 12
            %td Daniel Kahneman
            %td Psychology
            %td.center Book
            %td 3/26/2015
          %tr.odd.gradeX
            %td Thinking First and Slow Sypnosis
            %td Daniel Kahneman
            %td Psychology
            %td.center Book
            %td 3/26/2015
          %tr.even.gradeC
            %td Thinking First and Slow Sypnosis 12
            %td Daniel Kahneman
            %td Psychology
            %td.center Book
            %td 3/26/2015
