#books-list {
  padding-top: 30px;
  .thumbnail {
//    img {
//      width: 216px;
//      height: 216px;
//    }
    .caption {
      .title,
      .auther {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .overlay {
      .synopsis {
        height: 43%;
        overflow: scroll;
        text-overflow: ellipsis;
      }
      .text-center {
        margin: 0 0 0;
      }
    }
  }
}