@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto', sans-serif;
	color: #565656;
}
.navbar-nav{
	padding-top: 10px;
}
.navbar-wrapper{
	background-color: #fff;
	border-bottom: 1px solid #dadada;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar-right .badge{
	position: relative;
	top: -10px;
	right: 3px;
	background-color: #d9534f;
}
.header .navbar-nav>li>a{
	font-size: 16px;
}
.jumbotron{
	background:url('slide-content.jpg') top center repeat-x ;
	background-size: cover;
}
.jumbotron h1{
	color:#fff;
	font-size: 36px;
}
.jumbotron p{
	color:#fff;
	font-size: 18px;
}
.jumbotron .btn-primary{
	background-color: transparent;
border-color: #9aafba;
}
.thumbnail{
	padding: 0px;
	position: relative;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail .overlay{
		position: absolute;

	  width: 100%;
	  height: 100%;
	  background: rgba(70,142,206,.9);

	  color: #fff;
	  padding: 45px 20px;
	   bottom: -100px;
	    transition: 1s;
	       position: absolute;
    bottom: -430px;


}
.thumbnail .overlay h4{
	color: #fff;
}
.thumbnail:hover .overlay{
  	  transition: 1s;
    bottom: 0;
}

.footer{
	border-top:1px solid #dadada;
}

.footer-right li a {
	padding: 10px 5px;
}
.mainwrapper_sub{
	margin: 50px 0;
	padding: 50px;
	background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 4px;
   	box-shadow: none;
}
.gray_text{
	color: #b4b4b4;
}
.inline{
	display: inline-block;
	vertical-align: middle;
}
.glyphicon-c{
	font-size: 25px;
}

.normal_weight{
	font-weight: normal;
}
ul.follow_us{
	list-style-type: none;
	padding-left: 0;
}
ul.follow_us li a i{
    height: 50px;
    width: 50px;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    margin: 0 2px;
}
ul.follow_us li a:hover i{
	color: #b4b4b4;
}
.orange_text{
	color: #ffae00;
}
.border-right{
	border-right: 1px solid #e8e8e8;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.left_search-bar{
	white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
}

.input.error_valid {
    border: solid 1px red;
    border-radius: 6px;
}

.footer-right li{
    float:left;
}
/*css popup*/

.blue-color{
    color:#3d89cc;
}

.modal-dialog{
    max-width:400px;
    width:100%;
}
.center-or{ border-top: 1px solid #e5e5e5;
}
p.center-heading{
    background:#ffffff;
    margin: -15px auto 30px;
    width: 50px;
    color:#b4b4b4;
    font-weight:300;
    font-size: 18px;
}
.modal-body {
    padding: 15px 40px;
}
.modal-title{
    font-size:22px;
    font-weight:normal;
    margin:25px 0;
}
ul.ualink-social-link{
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.ualink-social-link li{
    margin-bottom:20px;
}
ul.ualink-social-link li a{
    color:#fff;
    width:100%;
    padding: 10px 20px;
    text-align:left;
}
ul.ualink-social-link li a:hover,ul.ualink-social-link li a:focus,ul.ualink-social-link li a:active{
    color:#fff;
}

ul.ualink-social-link li a i{
    float: left;
    font-size: 30px;
    width:20px;
}
ul.ualink-social-link li a i.fa-email{
    line-height:24px;
}
ul.ualink-social-link li a span{
    font-size: 14px;
    margin-left:20px;
    line-height: 30px;
}
.btn-facebook{
    background:#3b5998;
}
.btn-google{
    background:#dd4b39;
}

.btn-email{
    background:#3d89cc;
}
.form-control{
    border:1px solid #dcdcdc;
    color:#dcdcdc;
    box-shadow:none;
}
p.already,
a.already {
    font-weight:300;
    color:#3d89cc;
    font-size:14px;
    margin-bottom:30px;
}
#singlebutton.btn-primary {
    background-color: #337ab7;
    border: 0;
    color: #ffffff;
    width:100%;
    font-weight:300;
    padding:10px 0;
    background:#3d89cc;
}
.login-form input{
    padding-left: 40px;
}
.email.input-md{
    background:url('login-email.png') no-repeat 12px 14px #fff;
    height: 42px;
}
.password.input-md{
    background:url('login-passwod.png') no-repeat 12px 10px #fff;
    height: 42px;
}

.first_name.input-md{
    background:url('user.png') no-repeat 12px 10px #fff;
    height: 42px;
}

/*highlight*/
.padding_0{
    padding:0;
}
.nav.my-date-modify li a{
    color:#565656;
    background:#fcfcfc;
    border-right:1px solid #e8e8e8;
    padding:20px;
    text-transform:uppercase;

}
.nav.my-date-modify .caret{
    margin-left:100px;
}
.heading-highlight{
    padding:20px 0;
    text-transform:uppercase;
}
.common-padding{
    padding:20px 0;
}
.common-border{
    border-top:1px solid #e8e8e8;
}
.date-padding{
    padding:10px 0 0 20px;
}

.btn-delete{
    color:#3d89cc;
    font-size:12px;
    padding:0;
    margin-top:10px;
}
.btn-delete .glyphicon-remove{
    margin-right:10px;
}
.pagination > li > a, .pagination > li > span{
    background:none;
    border:0 none;
    border-radius:4px;
    color:#b4b4b4;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    background:none;
    border: 1px solid #dddddd;
}

@media only screen and (max-device-width: 767px) {
    .heading-highlight{
        padding:20px;
        border-top: 1px solid #e8e8e8;
    }
    .date-padding{
        padding:10px 0 0 0;
    }
    .common-padding{
        padding:20px;
    }
}