- @email_obj = Email.find_by_title("Reset password instructions")
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    = (@email_obj.body % {link: "#{edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}", email: @resource.email }).html_safe
